{% extends 'index.html' %}

{% block content %}

<div>
    <div class = "row text-white">
        <h1 class = "d-flex justify-content-center ">{{movies.name}}</h1>
        <hr>
        <div class = "d-flex justify-content-center p-5">
            <img src = "{{movies.image.url}}" alt = "" height = "300">
        </div>
        <hr>
        <div class = "d-flex flex-column justify-content-center text-center">
            <div><h4>{{movies.description}}</h4></div>
            <div><h4>{{movies.year}}</h4></div>
            <div>
                <a class="m-5 bg-primary p-2 text-white" href="{% url 'movieapp:update' movies.id %}">Update</a>
                <a class="m-5 bg-danger p-2 text-white" href = "{% url 'movieapp:delete' movies.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}